@media (max-width:768px) {
 
     
.logo{
margin-left: 40px;
}
nav ul {
    position: relative;
    left: 200px;
}
 ul li a{
     
 }
.hand{
    position:absolute;
    right: 500px;
    display: inline-block;
}

.my-image1 {
    width: 100px;
}
.content{
    margin-top: 50px;
    margin-left: 30px;
}
#My-name{
    font-size: 25px;

}

#description{
    font-size: 22px;
}
/* 22222222222 */
.my-image2{
    
}
.my-content{
    width: 500px;
    position: relative;
    left: 100px;
}
.des{
    width: 400px;
    position: relative;
    right: 500px;

    
}
.Proficiency{
    margin-left: 900px;
}
.image3 img{
    width: 900px;
}
.profile-section{
   position: relative;
   left: 500px;
    
}
.portgolio-image{
    
}
.portgolio-image img{
    width: 300px;
}
.photo2 {
margin-left: 400px;
}
#con{
    font-size: 20px;
}
}