@media (max-width:568px) {
    

.logo {
    font-family: 'Lobster', cursive;
    color: rgb(179, 187, 187);
    position: relative;
    top: 4px;
    left: 20px;
    font-size: 20px;
}
ul {
    display: flex;
    position: relative;
    right: 140px;
    margin-top: 30px;
    margin-left: 300px;
}
.my-image1 {
    width: 10px;
    position: relative;
    left: 160px;
}
.content {
    margin-top: 130px;
    margin-left: 40px;
}
#My-name {
    color: aliceblue;
    font-size: 50px;
    position: relative;
    word-spacing: 3px;
    font-size: 30px;
}
.link{
    margin-top: 20px;
}
/* 22222222 */
.my-image2 img {
    width: 800px;
    width: 600px;
    margin-left: 600px;
}
.des #paragraph {
    color: aliceblue;
    line-height: 40px;
    font-size: 18px;
    width: 500px;
    position: relative;
    right: 300px;
}
.image3 {
    margin-left: 900px;
}
.progress {
    position: relative;
    left: 900px;
}
.Proficiency {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    margin-top: 150px;
}
.portfolio-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 180px;
    position: relative;
    margin-left: 600px;
}
.portgolio-image {
    position: relative;
    align-items: flex-end;
    transition: 4s;
    display: block;
}
.i-image {
    margin-right: 150px;
    margin-left: 600px;
}
.contact-content {
    margin-left: 100px;
    width: 50%;
}

}