*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    font-family: 'Montserrat', sans-serif;
    background-color: #171C28;
}
/* Header Start */
header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
nav{

}
.logo{
    
    font-family: 'Lobster', cursive;
    color: rgb(179, 187, 187);
    position: relative;
    top: 4px;
    left: 20px;


}
#pavel{
    display:inline-block;
   position: absolute;
   left: 260px;
   top: -0px;  
}
ul{
display: flex;
position: relative;
right: 140px;

}
ul li{
margin-left: 30px;
list-style: none;
}
ul li a{
text-decoration: none;
color: azure;
font-weight: 400;
font-size: 20px;
transition: 1s;
}
a:hover{
    color: rgb(104, 98, 98);
}
ul li a::after{
    content: '';
    width:0;
    height: 4px;
    background-color: gainsboro;
    display: block;
    transition: .5s;
}
ul li a:hover::after{
    width: 100%;
}
/* Header End */
/* portfolio section start */


.profile-section{
    width: 100%;
display: flex;
justify-content: space-around;
align-items: center;
}
.my-image1{

}
.my-image1 img{
    width: 500px;
}
.content{

}

#My-name{
color: aliceblue;
font-size: 50px;
position: relative;
word-spacing: 3px;
}
#description{
    margin-top: 15px;
font-size: 30px;
color: aliceblue;
line-height: 40px;

}
.hand{
position: absolute;
left:700px ;
top: 250px;
}
.hand img{
width: 50px;
animation-name: hand;
animation-duration: .5s;
animation-iteration-count: infinite;
transition: transform .1s;
transform-origin: bottom;
animation-direction: alternate;
}
@keyframes hand{
    0%{
        transform: skewX(30deg);
    }
    100%{
        transform: scaleX(-30deg);
    }
}
#h{
    position: absolute;
    left: 760px;
    top: 310px;
    font-size: 50px;
    color: aliceblue;
}
.social-link{
position: relative;
top: 30px;


}

.link{
font-size: 30px;
margin-left: 30px;
display: inline-block;


}
.link i{
    display: inline-block;
    padding: 10px 15px;
    border-radius: 70%;  
}

.animation-image{

}
.animation1{

}
.animation1 img{
    width: 100px;
    position: absolute;
    top: 600px;
    animation-name: animation1;
    animation-duration: 2s;
    transition: transform 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    
}
@keyframes animation1{
    0%{
        transform: translateX(200px);
    }
    100%{
        transform: translateX(0px);
    }
}
.animation2{

}
.animation2 img{
    position: absolute;
    width: 100px;
    top: 300px;
    animation-name: animation2;
    animation-duration: 2s;
    transition: transform 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes animation2{
    0%{
        transform: translateY(200px);
    }
    100%{
        transform: translateY(0px);
    }
}
.button1{
position: relative;
top: 60px;
}
.button{
font-size: 20px;
margin-left: 30px;
background-color: #661a8b;
color: #fff;
padding: 15px 20px;
border: none;
border-radius: 10px;
transition: 1s;
}
.button:hover{
background-color: #fff;
color: #661a8b;
}
/* profile section end */



.My-skill-work{
    width: 100%;
display: flex;
justify-content: space-around;
align-items: center;
padding-top: 170px;
padding-bottom: 300px;
}
.my-skill{

}
.my-image2{

}
.my-image2 img{
    width: 800px;
}
.my-content{
margin-right: 100px;
}
.my-content #what{
    color: aliceblue;
    font-weight: 500;
    font-size: 60px;
    
}
.skill-content #stack{
    color: gainsboro;
    font-size: 20px;
    line-height: 40px;
    
}

.skill{
    margin-top: 20px;
    display: flex;
    justify-content:space-around;
    align-items: center;

}
.skill-image1{

}
.skill-image1 img{
    
    width: 60px;
 
}

.skill-image2{

}
.skill-image2 img{
    width: 60px;

}


.skill-image3{
    
}
.skill-image3 img{
    width: 60px;

}


.skill-image4{
    
}
.skill-image4 img{
    width: 60px;
   
}

.skill-image5{
    
}
.skill-image5 img{
    width: 60px;
  
}

.skill-image6{
    
}
.skill-image6 img{
    width: 60px;
 
}


.skill-image7{
    
}
.skill-image7 img{
    width: 60px;

}

.skill-image8{
    
}
.skill-image8 img{
    width: 60px;
  
}

.skill-image9{
    
}
.skill-image9 img{
    width: 60px;
   
}

.des{
    position: absolute;
    top: 1200px;
    left: 900px;
}
.des #paragraph{
    color: aliceblue;
    line-height: 40px;
    font-size: 18px;
}


/* skill section end */
.Proficiency{
display: flex;
justify-content: space-around;
align-items: center;
padding-top: 20px;
}
.progress-bar{
color: aliceblue;
width: 600px;
}
.progress-bar li{
    margin: 20px 0;
}
.progress{

}
.bar{
    background-color: aliceblue;
    display: block;
    height: 23px;
    border: 1px solid aliceblue;
    border-radius: 50px;
}
.bar span{
    height: 23px;
    float: left;
    background-color: #AAA5FF;

}
.Html{
    width: 90%;
    border-radius: 50px;
    animation: html5 2s;
}
@keyframes html5 {
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}
.css{
    width: 85%;
    border-radius: 50px;
    animation: css3 2s;
}
@keyframes css3 {
    0%{
        width: 0%;
    }
    100%{
        width: 84%;
    }
}

.javascript{
    width: 40%;
    border-radius: 50px;
    animation: jas 2s;
}
@keyframes jas {
    0%{
        width: 0%;
    }
    100%{
        width: 40%;
    }
}
.image3{
margin-right: 100px;
}
.image3 img{
    width: 900px;
    animation: man 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes man{
    0%{
        transform: translateX(20px);
    }
100%{
    transform: translateX(-20px);
}
}
#prof{
    font-weight: 1;
    line-height: 90px;
    font-size: 60px;
}
h3{
    font-weight: 400;
}
/* Proficiency end */


/* Education start */
.Education{
    margin-left: 200px;
    margin-top: 130px;
display: flex;
align-items: center;
position: relative;

padding-bottom: 100px;
animation: edu 4s;

}
@keyframes edu{
    0%{
        transform: translateX(-500px);
    }
    100%{
        transform: translateX(0px);
    }
}
.edu-text{
    position: absolute;
    top: -80px;
    font-size: 50px;
    color: #f9f7fa;
    font-weight: 200;
}
.collage-logo{

}
.log3{
margin-right: 20px;
}

.log3 img{
    width: 100px;
    background-color: #f9f7fa;
    border-radius: 50%;
    margin-top: -10px;
}
.edu-content{
margin-left: 10px;
}
#collage-name{
color: #f9f7fa;
font-weight: 700;
font-size: 30px;
line-height: 30px;
}
#class{
color: #f9f7fa;
font-weight: 600;
line-height: 30px;
}
#date{
color: #c4c1c5;
font-weight: 500;
line-height: 40px;
}
li{
color: gray;
margin-left: 30px;
}
hr{
    margin-top: 20px;
    transition: 2s;
     animation: break 1s;
    width: 900px;

}
hr:hover{
    width: 800px;
   
    
}
@keyframes break{
    0%{
        transform: translateX(-500px);
    }
    100%{
        transform: translateX(0px);
    }
}

/* Education section complet */
/* portfolio section start */
.portfolio-section{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 180px;
    position: relative;
    
}
#hhh{
    position: absolute;
    top: -150px;

    color: #f9f7fa;
    font-weight: 400;
    font-size: 70px;
}

.portgolio-image{
    
    position: relative;
   
    align-items: flex-end;
    transition: 4s;
    
}


.portgolio-image img{
    width: 500px;
    margin: 0 20px 0 20px;

}
.port{
    background-color: #1a548b;
    color: #f9f7fa;
    padding: 10px 20px;border: none;
    margin-top: 10px;
    margin-left: 10px;
    position: relative;
    left: 130px;
    transition: 1s;
    border: 1px solid #1a548b;
    border-radius: 50px;
    
}
.port:hover{
    background-color: #fff;
    color: #171C28;
}
.click{
   color: #f9f7fa;
   text-decoration: none;
   font-weight: 600;
    
}
.click:hover{
    color: #171C28;
}
/* portfolio section end */
/* contact section start */
.contact-section{
display: flex;
justify-content: space-between;
align-items: center;
margin-top: 200px;
}
.contact-content{
    margin-left: 100px;
}
#con{
    color: #f9f7fa;
    font-weight: 400;
    font-size: 35px;
    
}
#ccc{
    color: #99949b;
    line-height: 30px;
}
#fff{
    color: #f9f7fa;
    font-weight: 900;
    font-size: 30px;
    line-height: 30px;
}
#distric{
    color: #f9f7fa;
    line-height: 40px;
    font-weight: 400;
}
#sss{
    color: #f9f7fa;
}
.i-image{
margin-right: 150px;
}
.i-image img{
    width: 400px;

}
.social-l{
margin-top: 30px;


}
.lin{
    margin-left: 10px;
    margin-top: 40px;
   
}

